@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "TT Firs Neue Trial Var Roman";
  src: url("../fonts/tt-firs-neue-trial-var-roman.ttf") format("truetype");
  font-display: swap;
  font-weight: 100 400 500 900;
}

@font-face {
  font-family: "fontello";
  src: url("../fonts/fontello.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  @apply h-full text-base bg-geyser-100;
  font-family: "TT Firs Neue Trial Var Roman";
  font-size: 16px;
}

/*********** COMPONENTS ***********/

/************* Icons ***********/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: never;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.icon-chat:before { content: '\e800'; } /* '' */
.icon-adjunct:before { content: '\e801'; } /* '' */
.icon-cog:before { content: '\e802'; } /* '' */
.icon-earphones:before { content: '\e803'; } /* '' */
.icon-ecommerce:before { content: '\e804'; } /* '' */
.icon-house:before { content: '\e805'; } /* '' */
.icon-logout:before { content: '\e806'; } /* '' */
.icon-inbox:before { content: '\e807'; } /* '' */
.icon-integration:before { content: '\e808'; } /* '' */
.icon-invoice:before { content: '\e809'; } /* '' */
.icon-link:before { content: '\e80a'; } /* '' */
.icon-magnet:before { content: '\e80b'; } /* '' */
.icon-message:before { content: '\e80c'; } /* '' */
.icon-picture:before { content: '\e80d'; } /* '' */
.icon-robot:before { content: '\e80e'; } /* '' */
.icon-search:before { content: '\e80f'; } /* '' */
.icon-add:before { content: '\e810'; } /* '' */
.icon-user:before { content: '\e811'; } /* '' */
.icon-users:before { content: '\e812'; } /* '' */
.icon-arrow:before { content: '\e813'; } /* '' */
.icon-bell:before { content: '\e814'; } /* '' */
.icon-browser:before { content: '\e815'; } /* '' */
.icon-square:before { content: '\e816'; } /* '' */
.icon-hyperlink:before { content: '\e817'; } /* '' */
.icon-forgot:before { content: '\e818'; } /* '' */
.icon-envelope:before { content: '\e819'; } /* '' */
.icon-happy:before { content: '\e81a'; } /* '' */
.icon-lock:before { content: '\e81b'; } /* '' */
.icon-shopify:before { content: '\e81c'; } /* '' */
.icon-gmail:before { content: '\e81d'; } /* '' */
.icon-hide:before { content: '\e81e'; } /* '' */
.icon-card:before { content: '\e81f'; } /* '' */
.icon-send:before { content: '\e820'; } /* '' */
.icon-chevron:before { content: '\e821'; } /* '' */
.icon-signup:before { content: '\e822'; } /* '' */
.icon-check:before { content: '\e823'; } /* '' */
.icon-x:before { content: '\e824'; } /* '' */
.icon-star:before { content: '\e825'; } /* '' */
.icon-pen:before { content: '\e826'; } /* '' */
.icon-ball:before { content: '\e827'; } /* '' */
.icon-add-1:before { content: '\e828'; } /* '' */
.icon-clock:before { content: '\e829'; } /* '' */
.icon-coffe:before { content: '\e82a'; } /* '' */
.icon-start-fill:before { content: '\e82b'; } /* '' */
.icon-hands:before { content: '\e82c'; } /* '' */
.icon-briefcase:before { content: '\e82d'; } /* '' */
.icon-sully:before { content: '\e82e'; } /* '' */
.icon-show:before { content: '\e82f'; } /* '' */

/************* Buttons ***********/

/* Button Icon */
.button-icon {
  @apply flex items-center justify-center text-center transition delay-100 duration-500 bg-white rounded-full cursor-pointer text-secondary-900 hover:bg-secondary-900 hover:text-white w-14 h-14 shadow-gray-10 hover:shadow-secondary-40 text-2xl
}
.button-icon-is-active {
  @apply flex items-center justify-center text-center transition delay-100 duration-500 bg-secondary-900 rounded-full cursor-pointer text-white w-14 h-14 shadow-secondary-40 text-2xl
}
.button-icon-small {
  @apply flex items-center justify-center text-center transition delay-100 duration-500 bg-white rounded-full cursor-pointer text-secondary-900 hover:bg-secondary-900 hover:text-white w-10 h-10 shadow-gray-10 hover:shadow-secondary-40 text-xl
}

.button-icon-outline {
  @apply flex items-center justify-center text-center transition delay-100 duration-500 bg-transparent rounded-full cursor-pointer border border-secondary-500 text-secondary-900 hover:bg-secondary-900 hover:text-white w-14 h-14 shadow-gray-10 hover:shadow-secondary-40 text-2xl
}

/* Button */
.button-gray-small {
  @apply flex transition delay-100 font-medium duration-500 items-center justify-center w-full gap-2 py-2 text-sm text-penitentiary-900 rounded-full cursor-pointer hover:bg-secondary-900 bg-gray-300 hover:shadow-secondary-40 hover:text-white
}

.button-secondary-small {
  @apply flex transition font-medium delay-100 duration-500 items-center justify-center w-full gap-2 py-2 text-sm text-white rounded-full cursor-pointer hover:bg-tertiary-900 bg-secondary-900 hover:shadow-secondary-40
}

.button-white-small {
  @apply flex transition font-medium delay-100 duration-500 items-center justify-center w-full gap-2 py-2 text-sm text-white rounded-full cursor-pointer hover:bg-secondary-900 bg-secondary-900 hover:shadow-secondary-40
}

.button-outline-white  {
  @apply px-6 py-3 text-base delay-100 duration-500 transition text-white border border-white rounded-full min-w-[200px] hover:bg-white hover:text-secondary-900 hover:shadow-secondary-40
}
.button-secondary {
  @apply flex items-center delay-100 font-medium duration-500 justify-center w-full gap-2 px-6 py-3 text-base text-white rounded-full cursor-pointer hover:bg-tertiary-900 bg-secondary-900 hover:shadow-secondary-40 transition
}

.button-connect {
  @apply transition flex items-center delay-100 duration-500 w-full gap-2 px-3 py-3 text-base text-white rounded-full cursor-pointer hover:bg-secondary-900 bg-tertiary-900 hover:shadow-secondary-40
}

.button-tertiary-light {
  @apply flex items-center delay-100 duration-500 justify-center w-full gap-2 px-6 py-3 text-base text-tertiary-900 rounded-full cursor-pointer hover:bg-secondary-900 bg-tertiary-900 bg-opacity-50 hover:shadow-secondary-40 hover:text-white transition
}

/************* Search ***********/
.search {
  @apply relative w-2/5 bg-white transition rounded-full h-14 flex items-center overflow-hidden hover:shadow-gray-20 text-penitentiary-400
}

.search-is-active {
  @apply relative w-2/5 bg-white transition rounded-full h-14 flex items-center overflow-hidden shadow-secondary-40 border border-secondary-900 text-secondary-900
}

.search-icon {
  @apply w-16 relative flex items-center justify-center text-xl after:content-[''] after:absolute after:-top-0 text-secondary-900 after:right-0 after:w-px after:h-7 after:z-20 after:bg-secondary-100
}

.search-input {
  @apply w-full h-full px-4 placeholder-quaternary-100 bg-transparent outline-none text-penitentiary-900
}

/************* Account ***********/
.account {
  @apply p-2 relative transition bg-white rounded-full text-penitentiary-900 cursor-pointer shadow-gray-10 hover:shadow-secondary-40
}
.account-is-active {
  @apply p-2 relative transition bg-secondary-900 text-white rounded-full cursor-pointer shadow-gray-10 hover:shadow-secondary-40
}

.account-handler {
  @apply flex items-center gap-3
}

.account-dropdown {
  @apply w-[280px] backdrop-blur-md bg-white bg-opacity-30 rounded-2xl absolute top-[120%] z-10 overflow-hidden -left-4 transition -translate-y-[50px] opacity-0 invisible
}

.account-dropdown-is-active {
  @apply w-[280px] backdrop-blur-md bg-white bg-opacity-30 rounded-2xl absolute top-[120%] z-10 overflow-hidden -left-4 transition translate-y-0 opacity-100 visible
}

/************* Status ***********/
.status-handler {
  @apply flex items-center justify-between h-10 px-4 mb-3 border-2 rounded-full border-secondary-500 text-secondary-900
}
.status-dropdown {
  @apply absolute w-full bg-white rounded-3xl top-[120%] p-3 shadow-gray-20 -translate-y-[50px] opacity-0 invisible transition
}
.status-dropdown-is-active {
  @apply absolute w-full bg-white rounded-3xl top-[120%] p-3 shadow-gray-20 -translate-y-0 opacity-100 visible transition
}

/************* Website ***********/
.website-handler {
  @apply flex items-center gap-1 mb-1 font-medium text-penitentiary-900 hover:text-tertiary-900
}
.website-dropdown {
  @apply absolute bg-white shadow-gray-20 top-[100%] -left-10 w-[230px] rounded-lg z-20 px-5 py-5 opacity-0 invisible transition -translate-y-[50px]
}
.website-dropdown-is-active {
  @apply absolute bg-white shadow-gray-20 top-[100%] -left-10 w-[230px] rounded-lg z-20 px-5 py-5 opacity-100 visible transition translate-y-0
}

/************* Notifications ***********/
.notification-center {
  @apply min-w-[330px] bg-white backdrop-blur-sm transition bg-opacity-50  opacity-0 invisible rounded-2xl absolute top-[120%] z-10 right-0 p-4 -translate-y-[50px]
}

.notification-center-is-active {
  @apply min-w-[330px] bg-white backdrop-blur-sm transition bg-opacity-50 opacity-100 visible rounded-2xl absolute top-[120%] z-10 right-0 p-4 translate-y-0
}

/************* Chat Box ***********/

/* This class is used in many section */
.chatbox {
  @apply flex w-full gap-3 p-3 mb-3 transition bg-white rounded-2xl last:mb-0 hover:shadow-secondary-40
}

/* Esta clase se usa para mostrar el chat */
.chatbot-box {
  @apply w-[490px] transition opacity-0 translate-x-full
}

.chatbot-box-is-active {
  @apply w-[490px] transition opacity-100 translate-x-0
}

/* Esta clase se usa para mostrar el box de emojis */
.chatbot-emojis-box {
  @apply translate-y-full opacity-0 invisible absolute w-full px-4 transition bg-geyser-100 rounded-xl -top-72
}
.chatbot-emojis-box-is-active {
  @apply translate-y-0 opacity-100 visible absolute w-full px-4 transition bg-geyser-100 rounded-xl -top-72
}
/* Esta clase se usa para mostrar el box de notificaciones */
.chatbot-notification-box {
  @apply transition opacity-0 backdrop-blur-sm bg-opacity-50 absolute right-0 flex items-center justify-between w-64 px-4 py-2 bg-white rounded-lg top-[120%] -translate-y-full invisible
}
.chatbot-notification-box-is-active {
  @apply transition opacity-100 backdrop-blur-sm absolute right-0 flex items-center justify-between w-64 px-4 py-2 bg-white rounded-lg bg-opacity-50 top-[120%] translate-y-0 visible
}
/* Esta clase se usa para mostrar el box de rating */
.chatbot-rating-box {
  @apply transition opacity-0 backdrop-blur-sm absolute right-0 w-52 px-4 py-2 bg-white rounded-lg bg-opacity-50 top-[120%] -translate-y-full invisible
}
.chatbot-rating-box-is-active {
  @apply transition opacity-100 absolute backdrop-blur-sm right-0 w-52 px-4 py-2 bg-white rounded-lg bg-opacity-50 top-[120%] translate-y-0 visible
}

.chatbot-handler {
  @apply fixed bottom-20 right-4 flex items-center justify-center w-20 h-20 text-center text-white transition delay-100 rounded-full cursor-pointer bg-secondary-900 hover:bg-white hover:text-secondary-900 shadow-secondary-40 hover:shadow-secondary-50
}

.chatbot-send {
  @apply flex items-center justify-center w-16 h-16 text-center text-white transition delay-100 rounded-full cursor-pointer bg-secondary-900 hover:bg-white hover:text-secondary-900 shadow-secondary-40 hover:shadow-secondary-50 absolute -right-9 -top-12
}

.chatbot-input {
  @apply bg-geyser-200 rounded-full w-[350px] text-sm text-penitentiary-600 h-14 px-5 outline-none transition hover:bg-secondary-200
}
.chatbot-input-label {
  @apply absolute text-base transition left-5 top-4 text-penitentiary-600 opacity-0 invisible
}
.chatbot-input-label-is-active {
  @apply absolute text-[10px] transition left-5 top-4 text-secondary-900 -translate-y-4 opacity-100 visible
}

/************* Sidebar ***********/
.sidebar-item {
  @apply flex items-center justify-center w-[90%] relative h-28 rounded-e-3xl overflow-hidden cursor-pointer transition before:h-full before:w-full before:-translate-x-full hover:before:translate-x-0 before:content-[''] before:absolute before:transition before:bg-gradient-to-b from-secondary-900 to-tertiary-700 before:border-tertiary-900 before:border-l-4
}

/* This class is used to visually highlight the sidebar item that the user has currently selected. */
.sidebar-item-is-active {
  @apply before:translate-x-0 before:content-[''] before:absolute before:transition before:bg-gradient-to-b from-secondary-900 to-tertiary-700 before:border-tertiary-900 before:border-l-4 !text-white
}

.sidebar-label {
  @apply absolute z-20 flex items-center justify-center h-5 p-3 text-xs text-white capitalize rounded-full opacity-0  invisible -top-2 left-10 bg-tertiary-900 whitespace-nowrap transition delay-1000
}
.sidebar-label-is-active {
  @apply absolute z-20 flex items-center justify-center h-5 p-3 text-xs text-white capitalize rounded-full opacity-100 visible -top-2 left-10 bg-tertiary-900 whitespace-nowrap transition delay-1000
}

/************* Statistics ***********/
.statistics {
  @apply bg-white bg-opacity-50 rounded-3xl h-[110px] w-4/5 cursor-pointer transition relative overflow-hidden before:h-full before:w-full before:-translate-x-full hover:before:translate-x-0 before:content-[''] before:absolute before:z-10 before:transition before:bg-secondary-900 before:duration-500 before:opacity-0 before:invisible hover:before:visible hover:before:opacity-100
}

/************* Goals ***********/
.goals {
  @apply w-1/3 bg-white bg-opacity-50 rounded-3xl relative overflow-hidden before:h-full before:w-full before:content-[''] before:absolute before:z-10 before:bg-secondary-900 before:-translate-x-full before:opacity-0 before:invisible hover:before:visible hover:before:opacity-100 hover:before:translate-x-0 before:transition before:duration-500
}

/************* Integrations ***********/
.integrations {
  @apply bg-white flex items-center justify-center bg-opacity-50 rounded-3xl h-[110px] w-1/5 transition relative overflow-hidden before:h-full before:w-full before:content-[''] before:absolute before:z-10 before:transition before:bg-secondary-900 before:duration-500 before:-translate-x-full hover:before:translate-x-0 before:opacity-0 hover:before:opacity-100 before:invisible hover:before:visible
}

/************* OR ***********/
.or-line {
  @apply block my-10 h-5 relative text-sm text-penitentiary-400 after:content-[''] after:bg-secondary-900 after:absolute after:right-0 after:w-full after:h-px after:top-1/2 before:content-[''] before:absolute before:left-2/4 before:-translate-x-1/2 before:w-8 before:h-8 before:z-10 before:rounded-full before:bg-geyser-100
}

/************* LANGUAGE ***********/
.language-handler {
  @apply relative z-20 flex items-center h-10 gap-3 p-3 cursor-pointer
}
.language-dropdown {
  @apply absolute w-full top-[120%] transition opacity-0 -translate-y-[10%] invisible
}

.language-dropdown-is-active {
  @apply absolute w-full top-[120%] transition opacity-100 translate-y-0 visible
}
.chat-language-handler {
  @apply relative z-20 flex items-center h-10 gap-3 p-3 cursor-pointer
}
.chat-language-dropdown {
  @apply absolute w-full top-[120%] transition opacity-0 -translate-y-[10%] invisible
}

.chat-language-dropdown-is-active {
  @apply absolute w-full top-[120%] transition opacity-100 translate-y-0 visible
}

/************* FORM ***********/
.icon-password {
  @apply icon-hide text-penitentiary-400
}

.icon-password-is-active {
  @apply icon-show text-secondary-900
}

.checkbox {
  @apply relative h-5 w-5 cursor-pointer appearance-none rounded-sm border-2 border-secondary-600 transition-all before:absolute before:content-[''] before:top-2/4 before:left-2/4 before:block before:h-12 before:w-12 before:-translate-y-2/4 before:-translate-x-2/4 before:rounded-full before:bg-gray-500 before:opacity-0 before:transition-opacity checked:border-secondary-900 checked:bg-secondary-900 checked:before:bg-secondary-900 hover:before:opacity-10
}

.input-container {
  @apply relative h-12 mb-4 transition overflow-hidden border rounded-full shadow-gray-20
}
.input-container-is-active {
  @apply relative h-12 mb-4 transition overflow-hidden border rounded-full shadow-secondary-40 border-secondary-900
}

.input {
  @apply w-full h-full py-3 pl-16 text-base bg-white outline-none text-penitentiary-900
}

/*********** UTILITIES ***********/

.line-normal {
  line-height: normal;
}

/************* ScrollBar ***********/
::-webkit-scrollbar {
  width: 1px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}
